<ul class="board">
	<li id="one" class="box"></li>
	<li id="two" class="box"></li>
	<li id="three" class="box"></li>
	<li id="four" class="box"></li>
	<li id="five" class="box"></li>
	<li id="six" class="box"></li>
	<li id="seven" class="box"></li>
	<li id="eight" class="box"></li>
	<li id="nine" class="box"></li>	
</ul>