body { 
	position: relative;
	margin: 0; 
}

header {
	position:relative;
 	height: 100px;
	margin-left: 200px;
	width:100%;
	min-width: 500px;
	display: inline-block;
	top: 0;
	right:0;
	background-color: blue; 
}

header h1{

}

header h1 a {

}

header h1 a:hover {

}

nav{

}

.navbar-item {
  display: inline;
}

.navbar-list {

}

.sidebar {
    top: 0;
	bottom: 0;	
	position: fixed;
	width: 200px; 
    display: inline-block; 
    margin-left: 0;
    background-color: red; 
    overflow: scroll;
    padding-top: 10px;	
} 

.sidebar-title{
	color: white;
	text-decoration: none;
	font-family: "sans-serif";
	font-size: 50px;
	font-weight: 200;
}

.save-game{
	padding-top: 5px;
}

main {
	position: inline-block;
	display: flex;
	margin-top: 20%;
	margin-left: 30%;
	margin-right: 0%;
	margin-bottom: 10%;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:30px;
}

section{
    background-color: #fffe6e;
    position: relative;
    width: 10%;
    height: 10%;
    font-size: 50px;

}

footer {
	
}
