
body { 
	position: relative;
	margin: 0; 
}
header {
	position: absolute;
	background-color: blue;
	margin-left:25%;
}
header h1{
	color: white;
	text-decoration: none;
	font-family: "sans-serif";
	font-size: 50px;
	font-weight: 200;
}
header h1 a {
	color: inherit;
}
header h1 a:hover {
	text-decoration: none;
}
.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50;
}
main {
	
}
footer {
	
}
