body { 
	position: relative;
	margin: 0; 
}
header {
	position: absolute;
	background-color: blue;
	margin-left: 30%;
	margin-right: 0%;
}
header h1{
	color: white;
	text-decoration: none;
	font-family: "sans-serif";
	font-size: 50px;
	font-weight: 200;
}
header h1 a {
	color: inherit;
}
header h1 a:hover {
	text-decoration: none;
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 10; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: red; /* Black*/
    overflow-x: scroll; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    */
/* 	position: absolute;
	margin-right: 70%;
	margin-left: 0%;
	margin-bottom: 100%;
	margin-top: 0%;
	background-color: red;
	padding-top:1%;
	padding-bottom: 99%;
	overflow: scroll;*/
} 
main {
	
}
footer {
	
}
