body { 
	position: relative;
	margin: 0; 
}

header { /*Main header*/
	min-width: 350px;
	position:fixed;
 	height: 80px;
	padding-left: 25%; /*for sidebar*/
	padding-right: 10%;
	display: inline-block;
	top: 0;
	right:0;
	left: 0;
	background-color: #74d0f7; 
	box-shadow: 0px 3px 5px;
}

header h1{ /*Title*/
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 50px;
	font-family: comic-sans;
}

nav{ /*container for navbar*/

}
.navbar-list { /*the <ul> tag for the navbar*/

}

.navbar-item { /*Each <li> tag within the list*/
  display: inline;
}

.sidebar { /*Entire sidebar div*/
	z-index: 1;
    top: 0;
	bottom: 0;	
	position: fixed;
	width: 25%; 
    display: inline-block; 
    margin-left: 0;
    background-color: #ff9a3d; 
    overflow: scroll;
    padding-top: 10px;	
} 

.sidebar-title{ /*sidebar div with title.*/
	color: white;
	text-decoration: none;
	font-family: "sans-serif";
	font-size: 50px;
	font-weight: 200;
}

.save-game{ /*divs below the sidebar title*/
	padding-top: 5px;
}

.board{ /*The whole board. Maybe have 3 divs within this to help position?*/
	min-width: 350px;
	position: absolute;
	height: 500px;
	top: 100px; /*for header + board-title + extra room*/
    width: 75%;
	left: 25%;/*for sidebar */
	padding: 0 0 0 1.5%;
}
.box{ /*Each box on the board*/
	min-width: 50px;
	height: 20%;
	width: 30%;
	text-align: center;
	margin: 0px -4px 0px 0px;
	border: solid;
	border-width: 1px;
	padding: 1% 1% 1% 1%;
    background-color: green;
    display: inline-block;
    font-size: 75px;
}

footer {
	position:fixed;
 	height: 20px;
	padding-left: 25%; /*for sidebar*/
	padding-top: 5px;
	display: inline-block;
	bottom: 0;
	right:0;
	left: 0;
	background-color: #74d0f7; 
	text-align: right;
	font-size: 10px;
	font-family: comic-sans;
}