body { 
	position: relative;
	margin: 0;
	background: linear-gradient(green, red);
	bottom: 0;
	height: 100%;
}

header { /*Main header*/

	min-width: 350px;
	position:fixed;
 	height: 80px;
	padding-left: 25%; /*for sidebar*/
	display: inline-block;
	top: 0;
	right:0;
	left: 0;
	box-shadow: 0px 3px 5px;
	background-image: url("https://i.stack.imgur.com/p9mUO.jpg");
	
}
header a{
	text-decoration: none;
	font-family: "Comic Sans MS";
	color: #000e69;
}
header h1{ /*Title*/
	margin: 0 0 0 0;
	padding: 10px 6% 0 4%;
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 1px 2px 2px orange;
}

nav{ /*container for navbar*/

}
.navbar-list { /*the <ul> tag for the navbar*/

}

.navbar-item { /*Each <li> tag within the list*/
  display: inline;
}

.sidebar { /*Entire sidebar div*/
	min-width: 150px;
	z-index: 1; /*keeps sidebar on top of everything else*/
    top: 0;
	bottom: 0;	
	position: fixed;
	width: 25%; 
    display: inline-block; 
    margin-left: 0;
    background-color: #ff9a3d; 
    overflow: scroll;	
} 

.sidebar-title{ /*sidebar div with title.*/
	color: white;
	border-bottom: 6px solid grey;
	box-shadow: 0px 1px 3px black;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: 200;
	text-align: center;
	text-shadow: 1px 1px 3px black;
}

.save-game{ /*divs below the sidebar title*/
	padding-top: 5px;
}

.board{ /*The whole board.*/
	min-width: 275px;
	min-height: 250px;
	position: absolute;
	bottom: 0;
	top: 75px; /*for header */
    width: 67.5%;
	left: 32.5%;/*for sidebar */
	right: 0;
	padding: 0 0 0 0;
}
.box{ /*Each box on the board*/
	min-width: 25px;
	min-height: 50px;
	top: 0;
	height: 15%;
	width: 25%;
	text-align: center;
	vertical-align: middle;
	margin: 0px -4px 0px 0px;
	border: solid;
	border-width: 1px;
	padding: 1% 1% 1% 1%;
    background-color: green;
    display: inline-block;
    font-size: 16px; 
	font-size: 5.5vw;
}
.box:hover {
	cursor: pointer;
	background-color: 6ad06a;
}

.score{
	position: absolute;
	bottom: 0;
	margin-left: 25%; /*for sidebar*/
	left: 0;
	right: 0;
	min-width: 400px;
	margin-bottom: 20px; /*for footer */
	font-size: 40px;
	text-align: center;
	vertical-align: middle;

}
.score h3{
	margin: 0 0 10px 0;
	padding: 0;
	    font-size: 16px; 
	font-size: 4vw;
	
}

button {
	margin: 0 0 10px 0;
	padding: 0;
	
}

footer {
	position:absolute;
 	height: 20px;
	margin-left: 25%; /*for sidebar*/
	padding-top: 5px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #74d0f7; 
	min-width: 160px;
	border-style: solid;
	border-width: 2px;
}

footer p{
	float: right;
	font-size: 10px;
	margin: 0 5px 0 0;
}

.x404 {
	position: relative;
	top: 80px; /*for header*/
	margin-left: 25%; /*for sidebar*/
	padding-top: 20px;
	text-align: center;
	font-size: 100px;
}
